<!-- <h2>Login</h2>
<p>{{ message }}</p>
<p>
  <button mat-raised-button (click)="login()" *ngIf="!authService.isLoggedIn">
    Login
  </button>
  <button type="button" (click)="logout()" *ngIf="authService.isLoggedIn">
    Logout
  </button>
</p> -->
<div class="creating-container">
  <mat-card color="accent">
    <form #loginForm="ngForm" (submit)="login(loginForm)">
      <h1>Tworzenie nowego konta</h1>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="login"
          ngModel
          required
          minlength="3"
          placeholder="Twój login"
          #loginInsput="ngModel"
        />
        <mat-error *ngIf="loginInsput.invalid">Proszę podać login</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="password"
          ngModel
          required
          minlength="3"
          placeholder="Twoje hasło"
          #passwordInsput="ngModel"
        />
        <mat-error *ngIf="passwordInsput.invalid">Prosze podać hasło</mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">
        Zaloguj się
      </button>
    </form>
  </mat-card>
</div>
