.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  padding-left: 16px;
  padding-bottom: 8px;
  background-color: #0061a3;
  color: white;
  .close-button {
    margin: 12px 12px 0 0;
  }
}

.close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px; /* Dostosuj rozmiar tekstu przycisku X */
  font-weight: bold;
}

.video-container {
  text-align: center; /* Centruje obraz wideo */
  img {
    max-width: 1000px;
    max-height: 100%;
    width: calc(100% - 16px);
    @media (max-width: 769px) {
      width: 100%;
    }
  }
}
